@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
.titulo1 {
	color: black;
}
h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2 {
   color:#4094df;
}

h3 {
	text-align: center;
}

p {
    text-align: justify;
}

.img1 {
	width: 150px;
	height: 150px;
	border: 5px solid blue;
	border-radius: 50%;
	text-align: center;
	display: block;
	margin: 0 auto;
}
